@model OrionEShopOnContainer.Webs.WebMVC.Models.CatalogIndexViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Catalog Items";
}

<div class="text-center">
    <h1 class="display-4">Catalog Items</h1>
    <p>View the catalog items 1.</p>

    @if (Model.CatalogItems.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Buy now</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var catalogItem in Model.CatalogItems)
                {
                    <partial name="_product" model="catalogItem" />
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
